.right{
    float: left;
    background-color: lightblue;
    width: 70px;
    height:400px;
    margin-bottom:40px;
}
.left{float: left;
    background-color: skyblue;
    width: 30%;
    height:400px;
    margin-bottom:40px;}